# Python
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.venv

# Local configuration and secrets
.env
.env.*
!.env.example

# Development-only files
tests
.pytest_cache
.ruff_cache
uploads
